<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-gelcleaner"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>GELCleaner</name>

    <!-- JS -->
    <js-module src="www/gelcleaner.js" name="GELCleaner">
        <clobbers target="GELCleaner"/>
    </js-module>

    <platform name="android">

        <!-- JAVA -->
        <source-file
            src="src/android/com/gel/cleaner/GELCleaner.java"
            target-dir="src/com/gel/cleaner"/>

        <!-- REGISTER PLUGIN -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <feature name="GELCleaner">
                <param name="android-package" value="com.gel.cleaner.GELCleaner"/>
            </feature>
        </config-file>

        <!-- PERMISSIONS -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
            <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

    </platform>

</plugin>
