<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-gelcleaner"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>GELCleaner</name>
    <description>GDiolitsis Engine Lab (GEL) — Android Cleaner Plugin</description>
    <license>MIT</license>
    <keywords>gel, cleaner, android, cache, ram, battery</keywords>

    <js-module src="www/GelCleaner.js" name="GELCleaner">
        <clobbers target="GELCleaner" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/com/gdiolitsis/gelcleaner/GelCleaner.java"
                     target-dir="src/com/gdiolitsis/gelcleaner" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GELCleaner">
                <param name="android-package" value="com.gdiolitsis.gelcleaner.GelCleaner" />
            </feature>
        </config-file>
    </platform>
</plugin>
