<?xml version="1.0" encoding="UTF-8"?>
<widget 
    id="com.gel.cleaner"
    version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
>
    <name>GEL Cleaner</name>
    <description>GEL Cleaner app</description>
    <author email="gdiolitsis@gmail.com" href="">
        GDiolitsis Engine Lab
    </author>
</widget>
