<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gel.cleaner" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>GEL Android Cleaner</name>
    <description>Cleaner App powered by GDiolitsis Engine Lab (GEL)</description>

    <author email="support@gdiolitsis.dev" href="https://github.com/gdiolitsis">
        GDiolitsis Engine Lab (GEL)
    </author>

    <content src="index.html" />
    <access origin="*" />

    <!-- SDK prefs -->
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="33" />

    <!-- Plugin μόνο. ΚΑΜΙΑ δήλωση permissions εδώ. -->
    <plugin name="cordova-plugin-gelcleaner" spec="./cordova-plugin-gelcleaner" />
</widget>
