<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Προαιρετικά/ασφαλή permissions -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <!-- Δεν χρησιμοποιούμε QUERY_ALL_PACKAGES για Play Store compliance -->

    <application
        android:allowBackup="true"
        android:label="GEL Cleaner"
        android:supportsRtl="true"
        android:theme="@style/Theme.GEL">

        <activity
            android:name=".AppListActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

    <!-- queries για να μπορούμε να δούμε launcher apps (AppListActivity) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

</manifest>
