name: Android Native Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup JDK
      uses: actions/setup-java@v4
      with:
        distribution: "temurin"
        java-version: "17"

    - name: Decode keystore
      run: |
        echo "$KEYSTORE_BASE64" | base64 -d > keystore.jks

    - name: Build Release APK
      run: |
        ./gradlew assembleRelease

    - name: Sign APK
      run: |
        apksigner sign \
          --ks keystore.jks \
          --ks-key-alias "$KEY_ALIAS" \
          --ks-pass pass:"$KEYSTORE_PASSWORD" \
          --key-pass pass:"$KEY_ALIAS_PASSWORD" \
          --out app-release-signed.apk \
          app/build/outputs/apk/release/app-release.apk

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: GEL_Android_Cleaner_release
        path: app-release-signed.apk
