name: Android Native Release

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    name: Build Release APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Decode Keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > my-release-key.keystore

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Gradle cache
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      - name: Grant Execute Permission
        run: chmod +x ./gradlew

      - name: Build Release
        run: ./gradlew assembleRelease

      - name: Sign APK
        run: |
          jarsigner -verbose \
            -sigalg SHA256withRSA \
            -digestalg SHA-256 \
            -keystore my-release-key.keystore \
            -storepass "${{ secrets.KEYSTORE_PASSWORD }}" \
            -keypass "${{ secrets.KEY_PASSWORD }}" \
            app/build/outputs/apk/release/app-release-unsigned.apk alias_name

      - name: Zipalign
        run: |
          sudo apt-get install zipalign
          zipalign -f -v 4 \
          app/build/outputs/apk/release/app-release-unsigned.apk \
          app-release-signed.apk

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: GEL_Android_Cleaner
          path: app-release-signed.apk
