name: Build Android APK (Cordova)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare environment
        run: |
          sudo apt-get update -y
          sudo apt-get install -y openjdk-17-jdk unzip curl wget
          echo "JAVA_HOME=$(dirname $(dirname $(readlink -f $(which javac))))" >> $GITHUB_ENV
          echo "ANDROID_HOME=/usr/local/lib/android/sdk" >> $GITHUB_ENV
          echo "$ANDROID_HOME/platform-tools" >> $GITHUB_PATH

      - name: Install Cordova
        run: npm install -g cordova@12.0.0

      - name: Android SDK
        run: |
          mkdir -p $ANDROID_HOME/cmdline-tools
          cd $ANDROID_HOME/cmdline-tools
          curl -s https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip -o tools.zip
          unzip -q tools.zip -d latest
          rm tools.zip
          yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --licenses
          yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager "platform-tools" "build-tools;33.0.2" "platforms;android-33"

      - name: Decode keystore
        run: |
          echo "$KEYSTORE_BASE64" | base64 -d > release.keystore

      - name: Build (Release)
        run: |
          cd app
          export PATH=/opt/gradle/bin:$PATH
          cordova platform add android@12 || true

          cordova build android --release -- \
            --packageType=bundle \
            --keystore=../release.keystore \
            --storePassword=$KEYSTORE_PASS \
            --password=$KEY_PASS \
            --alias=$KEY_ALIAS

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: GEL_Release
          path: |
            app/platforms/android/app/build/outputs/bundle/release/app-release.aab
            app/platforms/android/app/build/outputs/apk/release/app-release.apk
