<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.gel.cleaner" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>GEL Cleaner</name>

    <js-module src="www/gelcleaner.js" name="GELCleaner">
        <clobbers target="GELCleaner"/>
    </js-module>

    <platform name="android">
        <source-file src="src/android/com/gel/cleaner/GelCleanerService.java"
                     target-dir="app/src/main/java/com/gel/cleaner" />
    </platform>
</plugin>
